.box {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.form-container {
  width: 325px;
  height: min(585px, 85%);
  display: grid;
  grid-template-rows: 65px 1fr;
  gap: 5px;
  background-color: white;
  box-shadow: 3px 3px 4px 0 rgba(0, 0, 0, 0.25);
  font-family: 'Lato', sans-serif;
  border-radius: 8px;
  overflow: scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.form-container::-webkit-scrollbar {
  display: none;
}

.project-fields-height {
  height: min(245px, 85%);
}

.form-top-container {
  grid-row: 1 / 2;
  background-color: var(--accent-3);
  border-radius: 8px 8px 0 0;
}

.form-todo-btn,
.form-project-btn {
  width: clamp(50%, 100%, 100%);
  height: 100%;
  color: white;
  background-color: transparent;
  border: none;
  border-bottom: 4px solid white;
  outline: none;
  font-size: 1.2rem;
  transition: .5s;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
}

.form-fields-container {
  grid-row: 2 / 3;
}

.form-middle-container {
  align-items: center;
  justify-content: start;
  padding: 0px 15px;
}

.form-title-input,
.form-notes-input {
  width: 100%;
  border: none;
  border-bottom: 4px solid rgba(0, 0, 0, 0.05);
  outline: none;
  resize: none;
  padding: 15px 10px 10px;
  overflow: scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.form-title-input::-webkit-scrollbar,
.form-notes-input::-webkit-scrollbar {
  display: none;
}

.form-title-input {
  height: 75px;
}

.form-notes-input {
  height: 165px;
}

.form-due-date-container,
.form-priority-container {
  gap: 13px;
  margin-top: 24px;
}

.form-due-date-label {
  font-size: 1.05rem;
}

.form-due-date-input {
  border-radius: 5px;
  border: 2px solid rgba(26, 167, 125, 0.5);
  outline: none;
  padding: 5px 10px;
  cursor: pointer;
  color: black;
}

.form-priority-title {
  font-size: 1.15rem;
}

.form-priority-options-container {
  gap: 4px;
}

.form-priority-label {
  border-radius: 4px;
  padding: 1px 7px 3px 7px;
  text-align: center;
  transition: .25s;
  cursor: pointer;
  font-weight: bold;
}

.l-prio-label {
  border: 1px solid var(--low-prio);
  color: var(--low-prio);
}

.m-prio-label {
  border: 1px solid var(--medium-prio);
  color: var(--medium-prio);
}

.h-prio-label {
  border: 1px solid var(--high-prio);
  color: var(--high-prio);
  margin-right: 18px;
}

.form-priority-radio:checked + .l-prio-label {
  border: 1px solid var(--low-prio);
  background-color: var(--low-prio);
}

.form-priority-radio:checked + .m-prio-label {
  border: 1px solid var(--medium-prio);
  background-color: var(--medium-prio);
}

.form-priority-radio:checked + .h-prio-label {
  border: 1px solid var(--high-prio);
  background-color: var(--high-prio);
}

.form-priority-radio:checked + .form-priority-label {
  transform: scale(1.1);
  color: white;
}

.form-bottom-container {
  gap: 15px;
  margin: 35px 0 25px 0;
}

.form-ok-btn,
.form-cancel-btn {
  width: 105px;
  padding: 10px 20px;
  border-radius: 5px;
  letter-spacing: 1px;
  font-family: 'Montserrat', sans-serif;
  font-size: .85rem;
  font-weight: 400;
  cursor: pointer;
  transition: .5s;
  background-color: white;
  cursor: pointer;
}

.form-ok-btn {
  border: 1px solid var(--accent-1);
  color: var(--accent-1);
}

.form-cancel-btn {
  border: 1px solid var(--accent-3);
  color: var(--accent-3);
}

.form-ok-btn:hover,
.form-cancel-btn:hover {
  color: white;
  transform: translateY(-5px);
  font-weight: bold;
}

.form-ok-btn:hover {
  background-color: var(--accent-1);
}

.form-cancel-btn:hover {
  background-color: var(--accent-3);
}

.border-btm-b {
  border-bottom: 4px solid rgba(0, 0, 0, 0.75);
}

.border-btm-w {
  border-bottom: 4px solid white;
}

.no-pointer-events {
  pointer-events: none;
}