.project-container {
  width: 100%;
  gap: 18px;
  background-color: var(--accent-2);
  padding: 12px 10px;
  margin-bottom: 7px;
  transition: .25s;
  font-family: 'Lato', sans-serif;
}

.project-container:hover {
  box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.25);
  transform: translateY(-1px);
}

.project-container:last-child {
  margin-bottom: 0;
}

.project-title {
  width: 185px;
  margin-right: auto;
  font-size: 1rem;
  overflow-wrap: anywhere;
}

.project-add-icon {
  margin-left: 2px;
}

.project-add-icon,
.project-edit-icon,
.project-trash-icon {
  width: var(--icon-width-1);
  height: var(--icon-height-1);
}

.project-add-icon:hover,
.project-edit-icon:hover,
.project-trash-icon:hover {
  transform: scale(1.1);
}

.project-container,
.project-add-icon,
.project-edit-icon,
.project-trash-icon {
  cursor: pointer;
}

@media (min-width: 380px) {
  .project-title {
    width: 215px;
  }
}

@media (min-width: 450px) {
  .project-title {
    width: 250px;
  }
}

@media (min-width: 500px) {
  .project-title {
    width: 285px;
  }
}

@media (min-width: 650px) {
  .project-title {
    width: 275px;
  }
}

@media (min-width: 750px) {
  .project-title {
    width: 325px;
  }
}

@media (min-width: 850px) {
  .project-title {
    width: 370px;
  }
}

