.item-container {
  justify-content: space-between;
  align-items: center;
  background-color: var(--accent-2);
  padding: 10px;
  margin: 5px;
  transition: .25s;
  font-family: 'Lato', sans-serif;
}

.item-container:hover {
  box-shadow: 3px 3px 4px 0 rgba(0, 0, 0, 0.25);
  transform: translate(2px, 1px);
}

.item-left-container,
.item-right-container {
  gap: 15px;
}

.item-checkbox {
  width: 18px;
  height: 18px;
  border: 2px solid var(--accent-1);
  border-radius: 5px;
  background-color: white;
  font-size: 1.2rem;
  padding-top: 1px;
}

.checked {
  background-color: var(--accent-1accent-1);
  color: white;
}

.item-title {
  font-size: 1.1rem;
}

.item-details-btn {
  border: 1px solid var(--accent-1);
  border-radius: 2px;
  color: var(--accent-1);
  padding: 4px 6px;
  font-size: .7rem;
  transition: .25s;
}

.item-details-btn:hover {
  background-color: var(--accent-1);
  color: white;
  font-weight: bold;
}

.item-due-date {
  font-size: .95rem;
}

.item-edit-icon,
.item-remove-icon  {
  width: 20px;
  height: auto;
  transition: .35s;
}

.item-edit-icon:hover,
.item-remove-icon:hover {
  transform: translateY(-2px);
}

.item-checkbox,
.item-details-btn,
.item-edit-icon,
.item-remove-icon {
  cursor: pointer;
}

