.item-container {
  width: 100%;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  background-color: var(--accent-2);
  padding: 14px 10px;
  margin-bottom: 8px;
  transition: .25s;
  font-family: 'Lato', sans-serif;
  position: relative;
}

.item-container:hover {
  box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.25);
  transform: translateY(-1px);
}

.item-container:last-child {
  margin-bottom: 0;
}

.item-container:has(.item-checkbox.checked)::before {
  width: calc(100% - 34px);
  height: 100%;
  content: "";
  position: absolute;
  left: 34px;
  background-color: rgba(240, 240, 240, 0.8);
  filter: blur(1px);
}

.item-left-container {
  gap: 12px;
}

.item-right-container {
  gap: 14px;
}

.item-checkbox {
  width: 19px;
  height: 19px;
  position:relative;
  border: 2px solid var(--accent-1);
  border-radius: 5px;
  background-color: white;
  font-size: 1.2rem;
}

.checked {
  background-color: var(--accent-1);
}

.checked.item-checkbox::before {
  width: 11px;
  height: 11px;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url("./check.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.no-pointer-events {
  pointer-events: none;
  cursor: auto;
}

.item-container.no-pointer-events .item-checkbox {
  pointer-events: all;
  cursor: pointer;
}

.item-title {
  width: 100px;
  font-size: 1rem;
  overflow-wrap: anywhere;
}

.item-due-date {
  font-size: .9rem;
}

.item-edit-icon {
  margin-left: 2px;
}

.item-edit-icon,
.item-move-icon,
.item-trash-icon  {
  width: var(--icon-width-1);
  height: var(--icon-height-1);
  transition: .35s;
}

.item-edit-icon:hover,
.item-move-icon:hover,
.item-trash-icon:hover {
  transform: scale(1.1);
}

.item-container,
.item-checkbox,
.item-edit-icon,
.item-move-icon,
.item-trash-icon {
  cursor: pointer;
}

@media (min-width: 380px) {
  .item-title {
    width: 125px;
  }
}

@media (min-width: 400px) {
  .item-title {
    width: 145px;
  }
}

@media (min-width: 450px) {
  .item-title {
    width: 185px;
  }
}

@media (min-width: 500px) {
  .item-title {
    width: 240px;
  }
}

@media (min-width: 650px) {
  .item-title {
    width: 200px;
  }
  
  .item-right-container {
    gap: 18px;
  }
}

@media (min-width: 750px) {
  .item-title {
    width: 270px;
  }
}

@media (min-width: 850px) {
  .item-title {
    width: 335px;
  }
}

