.navbar-container {
  width: min(430px, 90%);
  height: 70px;
  place-self: center;
  grid-area: 3 / 1 / -1 / -1;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  background-color: var(--accent-4);
  border-radius: 14px;
}

.navbar-btn {
  height: 47px;
  width: 47px;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  font-size: 1.3rem;
  color: var(--accent-4);
  transition: background-color .2s, transform .4s;
  cursor: pointer;
  opacity: 0;
}

.navbar-btn:hover {
  transform: translateY(-4px);
}

.navbar-btn-selected {
  background-color: var(--accent-1);
}

.navbar-btn-selected.navbar-btn:hover {
  transform: none;
}

.navbar-btn-icon {
  width: 27px;
  height: 27px;
}

.navbar-plus-btn {
  margin-bottom: 4px;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.8rem;
  color: var(--accent-1);
  opacity: 1;
}

.navbar-plus-btn:hover {
  color: var(--accent-1);
}

@media (min-width: 650px) {
  .navbar-container {
    width: 100%;
    height: 100%;
    place-self: auto;
    grid-area: 2 / 1 / 3 / 2;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 0 20px 0;
    background-color: var(--accent-5);
    box-shadow: 1px 0 4px 0 rgba(0, 0, 0, 0.25);
    border-radius: 0;
  }

  .navbar-btn {
    width: 100%;
    height: 65px;
    justify-content: start;
    align-items: center;
    padding-left: 15px;
    position: relative;
    font-size: 1.1rem;
    font-family: 'Montserrat', sans-serif;
    border-radius: 0;
    border-right: 6px solid transparent;
    transition: .55s;
    opacity: 1;
  }

  .navbar-btn:hover,
  .navbar-btn-selected  {
    transform: none;
    background-color: var(--accent-6);
  }

  .navbar-btn-selected {
    border-right: 6px solid var(--accent-1);
  }

  .navbar-btn-grp-1::before {
    width: 25px;
    height: 25px;
    content: attr(data-count);
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 1px;
    border-radius: 50%;
    font-size: .85rem;
    font-weight: bold;
    color: var(--accent-3);
    background-color: white;
  }

  .navbar-plus-btn {
    width: 80px;
    justify-content: center;
    margin-top: auto;
    padding-left: 0px;
    font-size: 2.95rem;
    color: var(--accent-1);
    border: none;
  }

  .navbar-plus-btn:hover {
    transform: scale(1.3);
    color: var(--accent-1);
    background-color: transparent;
  }
}

@media (min-width: 850px) {
  .navbar-btn {
    padding-left: 20px;
    font-size: 1.15rem;
  }

  .navbar-btn-grp-1::before {
    right: 24px;
  }

  .navbar-plus-btn {
    font-size: 2.95rem;
  }
}

/* Animations */
.animate-move-in {
  animation: move-in 1s normal 0s 1 forwards;
}

@keyframes move-in {
  from {
    transform: translateY(150%);
  }
  
  to {
    transform: translateY(0);
  }
}

.animate-appear {
  animation: appear 1s normal .5s 1 forwards;
}

@keyframes appear {
  to {
    opacity: 1;
  }
}
