*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Utilities */
.flex {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.center {
  justify-content: center;
  align-items: center;
}

.hidden {
  opacity: 0;
}

.disabled {
  filter: blur(1px) grayscale(50%) brightness(50%);
  pointer-events: none;
}

.unclickable {
  pointer-events: none;
}

.animate-appear {
  animation: appear .7s 0s 1 forwards;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  
  100% {
    opacity: 1;
  }
}

.animate-delete {
  animation: delete 1.2s 0s 1 forwards;
}

@keyframes delete {
  to {
    transform: translateX(150%);
  }
}
