*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Utilities */
.flex {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.center {
  justify-content: center;
  align-items: center;
}

.hidden {
  opacity: 0;
}

.disabled {
  filter: blur(1px) grayscale(50%) brightness(50%);
  pointer-events: none;
}
